
// border box and reset
* {

    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    margin: 0;
    padding: 0;

}

// overflow
body {

    overflow-x: hidden;
    color: white;

}

a {

    color: #fff;

}
