// Partie NAVIGATION
@media only screen and (max-width: 716px) {

    .header-nav {

        display: block;
        margin: 0 10px;

        & nav {

            margin-top: 20px;

            & ul {

                & li {

                    padding: 5px 5px;
                    white-space: nowrap;

                }

            }

        }

        & h1 {

            text-align: center;

        }

    }

}

@media only screen and (max-width: 310px) {

    .header-nav {

        display: block;
        margin: 0 5px;
        padding: 10px 0 5px 0;

        & nav {

            height: 100%;

            & ul {

                display: block;
                text-align: center;

                & li {

                    padding: 10px 5px;

                }

            }

        }

    }

}

@media only screen and (max-width: 253px) {

    .header-nav {

        & h1 img {

            display: block;
            margin: 0 auto;
        
        }

    }

}

// Partie accueil