
// navigation sur toutes les pages 
.header-nav {

    display: flex;
    justify-content: space-between;
    align-items: center;


    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 0 50px;
    padding: 0px;

    & nav {

        // evite le decallage au hover
        height: 30px;

        & ul {

            display: flex;
            justify-content: space-between;
            padding: 0;

            & li {

                margin: 5px 15px;

                transition: transform 400ms ease-out;
                transform: scale(1);

                // animation NAVIGATION                  
                &:hover {

                    transition: transform 175ms ease-out;
                    transform: scale(1.15);

                    &::after {

                        display: block;
                        content: '';
                        width: 30%;
                        height: 1px;

                        transform: translateY(5px);

                        background: white;

                    }

                    // suppression du after pour licon panier
                    // &:last-child::after {

                    //     display: none;

                    // }

                    & a {

                        transition: 175ms all;
                        color: red;

                    }

                    & a::first-letter {

                        color: white;
    
                    }

                }

                & a {

                  display: inline-block;
                  font-family: 'josefin Sans', sans-serif;  
                  font-size: 1.1rem;
                  font-weight: 300;  
                  letter-spacing: 2px;

                }
               
                & a::first-letter {

                    color: red;

                }

                // Panier
                & i:hover {

                    color: red;

                }

            }

        }

    }

    & h1 {

        font-style: italic;
        font-family: 'Prompt', sans-serif;
        font-weight: 700;
        
        text-shadow: 0 0 4px white;

        & img {

            max-width: 32px;
            height: auto;
            opacity: .9;
            filter: drop-shadow(0 0 4px #fff);

        }

        & em {

            font-style: oblique;
            font-size: 15px;
            font-weight: 400;
            text-shadow: 0 0 0px white;

        }

        & strong {

            font-size: 40px;
            color: red;

            text-shadow: 0 0 4px white;

        }

    } 

}