
// BODY ACCUEIL
.body-accueil,
.body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;

    min-width: 100vw;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .6)), url(../image/banner1.jpg) center/cover no-repeat;

}

.main-accueil {

    margin: 0 50px;

    display: flex;
    align-items: center;
    height: 80%;

    & section {

        margin: 0 auto;

        & h2 {

            margin-bottom: 1rem;

            font-family: 'Prompt', sans-serif;
            font-size: 1.15rem;
            font-weight: 200;
            text-shadow: 0 0 2px white;

        }

        & p {

            margin-bottom: 2rem;

            font-family: 'Prompt', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            text-shadow: 0 0 3px black;
            letter-spacing: 1px;

            &::first-letter {

                color: red;
                font-weight: 600;

            }

        }

        & p::after {

            display: block;
            content: '';
            margin: 1rem 0 4rem 0;

            width: 10%;
            min-width: 140px;
            height: 1px;

            background: #fff;
            box-shadow: 0 0 5px 0px white;

        }

        & button {

            font-family: 'Prompt', sans-serif;
            display: inline-block;
            padding: 8px 15px 8px 15px;
            height: 42px;

            color: white;
            background:  rgba(255, 255, 255, 0.05);
            border: 1px solid white;
            border-radius: 3px;

            letter-spacing: 1px;
            font-weight: 400;
            font-size: 1rem;

            transition: all .3s ease-in-out;
            transform: translateX(0px);

            &::first-letter {

                color: red;
                font-weight: 600;

            }

            &:hover {

                background:  #fff;
                color: #000;

                transition: all .3s ease-in-out;
                transform: translateX(8px);

                font-weight: 700;

                border: 1px dotted red;

                box-shadow: 0 0 10px 1px rgb(114, 114, 114);

            }

        }

    }

}

.footer-accueil,
.footer {

    margin: .5rem 0;

    .social {

        text-align: center;

        margin: 0 25px;

        border-top: 2px solid white;

        & a {

            display: inline-block;
            margin: 10px 10px 0px 10px;

            & i {

                font-size: 2rem;
                transition: color 300ms ease-in-out;

            }

            &:hover i {

                transition: all 200ms ease-in-out;
                transform: scale(1.13);

                color: red;

            }

        }

    }

}