
// BODY ACCUEIL
.body-accueil,
.body {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    min-width: 100vw;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .6)), url(../image/banner1.jpg) center/cover no-repeat;

}


.main-accueil {

    margin: 25px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & .accueil-info {

        position: relative;
        margin: 0 auto;

        & h2 {

            margin-bottom: 1rem;

            font-family: 'Prompt', sans-serif;
            font-size: 1.15rem;
            font-weight: 200;
            text-shadow: 0 0 2px white;

        }

        & p {

            margin-bottom: 2rem;

            font-family: 'Prompt', sans-serif;
            font-size: 3rem;
            font-weight: 600;
            text-shadow: 0 0 3px black;
            letter-spacing: 1px;

            &::first-letter {

                color: red;
                font-weight: 600;

            }

        }

        & p::after {

            display: block;
            content: '';
            margin: 1rem 0 4rem 0;

            width: 10%;
            min-width: 140px;
            height: 1px;

            background: #fff;
            box-shadow: 0 0 5px 0px white;

        }

        & #buttonShop {

            font-family: 'Prompt', sans-serif;
            display: inline-block;
            padding: 8px 15px 8px 15px;
            height: 42px;

            color: white;
            background:  rgba(255, 255, 255, 0.05);
            border: 1px solid white;
            border-radius: 3px;

            letter-spacing: 1px;
            font-weight: 400;
            font-size: 1rem;

            transition: all .3s ease-in-out;
            transform: translateX(0px);

            cursor: pointer;

            &::first-letter {

                color: red;
                font-weight: 600;

            }

            &:hover {

                background:  #fff;
                color: #000;

                transition: all .3s ease-in-out;
                transform: translateX(8px);

                font-weight: 700;

                border: 1px dotted red;

                box-shadow: 0 0 10px 1px rgb(114, 114, 114);

            }

        }

    }

}

// Boutique créer dynamiquement en JS
#myBoutique {

    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin: 1.5rem auto 0 auto;

    & .camera-item {

        width: 100%;
        height: auto;

        padding: 10px 0;

        border: 2px solid white;
        border-radius: 5px;

        background: rgba(0, 0, 0, 0.5);

        transition: transform 250ms ease-in-out;
        transform: scale(1);

        &::after {

            display: block;
            content: '';

            width: 30%;
            height: 2px;

            background: transparent;

            transform: translateY(20px);

        }

        &::before {

            display: block;
            content: '';
            position: absolute;
            right: 0;
            top: 0;

            width: 30%;
            height: 2px;

            background: transparent;

            transform: translateY(-10px);

        }

        &:hover {

            transition: transform 350ms ease-in-out;
            transform: scale(1.05);
            background: rgb(255, 255, 255);
            border-color: red;
            
            & h2, p {

                color: black;

            }


            & img {
    
                border-top: 1px solid red;
                border-bottom: 1px solid red;
                
            }

            &::after {

                display: block;
                content: '';

                width: 30%;
                height: 2px;

                background: red;

                transform: translateY(20px);

            }

            &::before {

                display: block;
                content: '';
                position: absolute;
                right: 0;
                top: 0;

                width: 30%;
                height: 2px;

                background: red;

                transform: translateY(-10px);

            }

        }

        & img {

            width: 100%;
            height: 300px;
            object-fit: cover;

            border-top: 1px solid white;
            border-bottom: 1px solid white;
            
        }


        & .camera-info {

            display: flex;
            justify-content: space-between;

            align-items: center;

            padding: 15px 10px;

            & h2,
            p {

                font-size: 1.1rem;

                letter-spacing: 2px;

            }

            & h2::first-letter,
            p::first-letter {

                color: red;

            }

        }

    }

}


// Footer identique a chaque page
.footer {

    margin: .5rem 0;

    .social {

        text-align: center;

        margin: 0 25px;

        border-top: 2px solid white;

        & a {

            display: inline-block;
            margin: 10px 10px 0px 10px;

            & i {

                font-size: 2rem;
                transition: color 300ms ease-in-out;

            }

            &:hover i {

                transition: all 200ms ease-in-out;
                transform: scale(1.13);

                color: red;

            }

        }

    }

}