
// Uniquement les modifications particulières au panier. La navigation est dans le fichier navigation, et le footer et dans le fichier accueil. Car identique a chaque page.

// bg different sur le panier
.body {

    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .1)), url(../image/banner2.jpg) center/cover no-repeat;

}

// panier vide
#main-panier {

    margin: 10px 50px 0 50px;
    padding: 20px 10px 30px 10px;
    
    background: rgba(255, 255, 255, .05);
    border: 1px solid white;
    border-radius: 10px;

    height: 100%;

    & .panier-vide {

        position: relative;

        text-align: center;

        & h2, p {

            margin-bottom: 2rem;
            text-shadow: 0 0 5px black;
            line-height: 2.2rem;

        }

        & p {

            font-size: 1.5rem;

            & strong {

                display: block;
                // margin-left: 2rem;

                font-weight: 900;
                letter-spacing: 5px;
                text-shadow: 0 0 10px black;


            }

            & em {

                color: red;
                font-weight: 600;

            }

        }

        & a {

            display: inline-block;

            font-family: 'Prompt', sans-serif;
            padding: 8px 15px 8px 15px;
            height: 42px;

            color: white;
            background:  rgba(0, 0, 0, .3);
            border: 1px solid white;
            border-radius: 3px;

            letter-spacing: 1px;
            font-weight: 400;
            font-size: 1rem;

            transition: all .3s ease-in-out;
            transform: translateX(0px);

            &::first-letter {

                color: red;
                font-weight: 600;

            }

            &:hover {

                background:  #fff;
                color: #000;

                transition: all .3s ease-in-out;
                transform: translateX(8px);

                font-weight: 700;

                border: 1px dotted red;

                box-shadow: 0 0 10px 1px rgb(114, 114, 114);

            }

        }

        & .fa-window-close {

            position: absolute;
            top: 0;
            right: 0;
            transform: translate(20px, -30px);

            font-size: 1.5rem;
            color: white;
            cursor: pointer;

            transition: color .3s ease-in-out;

            &:hover {

                color: red;
                transition: all .3s ease-in-out;

            }

        }

    }

}

// panier plein 
.body-panier {

    & #main-panier {

        margin: 20px 50px 20px 50px;
        padding: 20px 10px 20px 10px;
        
        background: rgba(255, 255, 255, .05);
        border: 1px solid white;
        border-radius: 10px;
    
        height: 100%;

        & tfoot {

            display: block;
            

            & tr {

                display: flex;
                border: none!important;
                background: none!important;
                

                & td {

                    margin: 1rem 0 0 0;
    
                }

                & :last-child {

                    min-width: 130px;

                }

            }

        }

        & table {

            width: 100%;
            border-collapse: collapse;

            & img {

                max-width: 100px;
                height: 100%;

            }
        }

        & th, td {

            padding: 10px;
            text-align: left;
            
        }

        & tr {

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(7),
            &:nth-child(9) {
             
                border: 1px solid rgba(255, 255, 255, 0.555);
                background: rgba(255, 255, 255, 0.123);

            }

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(10) {
             
                border-right: 1px solid rgba(255, 255, 255, 0.555);
                border-left: 1px solid rgba(255, 255, 255, 0.555);

            }

            

        }

        & tbody {

            tr:last-child {
             
                border-bottom: 1px solid rgba(255, 255, 255, 0.555)!important;


            }

        }

        & th, 
        & tfoot td {

            background: red;

        }

        & thead {

            & th {

                border: 1px solid rgba(255, 255, 255, 0.555);

            }

        }

        & tbody {

            & tr :last-child {

                text-align: center;

            }

            & tr :last-child {
    
                text-align: center;
                background: red;
                border-top: 1px solid rgba(255, 255, 255, 0.555);

                & i {

                    border: none;

                }
    
            }

            & tr td.produit-img {

                padding: 3px 0 0 5px;


            }

            & .produit-img {

                background: none!important;
                border: transparent!important;
            
            }


        }

        & tfoot {

            & td {

                border: 1px solid rgba(255, 255, 255, 0.555);

            }

            & :last-child {

                text-align: center;

            }            
        }
    }
}


