
// page produit individuel

.body-produit {

    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .3)), url(../image/banner6.jpg) center/cover no-repeat;

    .main-produit {

        padding: 0 20px;

        & .camera-item {

            position: relative;

            max-width: 1000px;
            height: auto;

            margin: 1rem auto;
            padding: 10px 0;
    
            border: 2px solid white;
            border-radius: 5px;
    
            background: rgba(0, 0, 0, 0.5);
    
            transition: all 285ms ease-in-out;
    
            &::after {
    
                display: block;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;


                width: 15%;
                height: 2px;

                background: transparent;

                transform: translateY(10px);
    
            }
    
            &::before {
    
                display: block;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                

                width: 15%;
                height: 2px;

                background: transparent;

                transform: translateY(-10px);
    
            }
    
            &:hover {
    
                transition: all 400ms ease-in-out;
                background: rgba(255, 255, 255, 0.1);
                border-color: red;
                
                & h2, p {
    
                    color: white;
    
                }
    
    
                & img {
        
                    border-top: 1px solid red;
                    border-bottom: 1px solid red;
                    
                }
    
                &::after {
    
                    display: block;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    
                    width: 15%;
                    height: 2px;
    
                    background: red;
    
                    transform: translateY(10px);
    
                }
    
                &::before {
    
                    display: block;
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    

                    width: 15%;
                    height: 2px;
    
                    background: red;
    
                    transform: translateY(-10px);
    
                }
    
            }
    
            & img {
    
                width: 100%;
                height: 300px;
                object-fit: cover;
    
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                
            }
    
    
            & .camera-info {

                align-items: center;
    
                padding: 15px 10px;
    
                & h2,
                p {
    
                    font-size: 1.1rem;
    
                    letter-spacing: 2px;

                    &::first-letter {

                        color: red;

                    }
    
                }

                .camera-price span {

                    margin-left: 1rem;
                    font-weight: 300;

                    & em {

                        margin-left: .3rem;
                        
                        font-size: .8rem;
                        font-weight: 300;

                    }

                }

                .camera-description {

                    margin: 2rem 0;


                    & :first-child {

                        text-decoration: underline;
                        margin-bottom: .5rem;

                    }
                }

            }

            & .choiseForCart {

                display: flex;
                flex-direction: column;
                padding: 10px 10px;

                & .cartQuantity {

                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;

                    & div {

                        display: flex;
                        flex-direction: column;

                    }

                }

                #confirmationAjoutPanier {

                    display: none;

                    width: 100%;
                    margin: 0 auto;
                    padding: 10px 5px 13px 5px;

                    text-align: center;
                    background: #32CD32;
                    border-radius: 5px;
                    box-shadow: 0 0 10px 0px rgba(255, 255, 255, .7);

                    
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 10px black;
                    letter-spacing: 1px;

                    & i {

                        margin-left: 1rem;
                        font-size: 1.5rem;

                    }

                }

                & input, select {

                    margin-bottom: 1.5rem;
                    width: 300px;
                    height: 35px;
                    border-radius: 5px;
                    outline: none;

                    &:focus {

                        border: 3px solid red;

                    }

                }

                & label {

                    margin-bottom: .5rem;
                    background: red;
                    border-radius: 5px;
                    padding: 5px 5px 10px 5px;

                }

                & button {

                    margin: 1rem 0 0 0;
                    padding: 10px;

                    background: red;
                    color: white;
                    letter-spacing: 3px;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    border: 1px solid white;
                    border-radius: 5px;
                    outline: none;

                    transition: all .4s ease-in-out;
                    cursor: pointer;

                    &:hover {

                        background: #fff;
                        color: red;
                        border: 1px solid red;
                        box-shadow: 0 0 5px 0 white;
                        //filter: saturate(900%);

                        transition: all .4s ease-in-out;

                    }

                } 

            }
            

        }

    }

}