.body-validation {

    background: linear-gradient(rgba(0, 0, 0, .95), rgba(0, 0, 0, .85)), url(../image/banner11.jpg) center/cover no-repeat;

    & .main-validation {

        margin-top: 10px;

        & section {

            margin: 0 auto;
            padding: 25px 0;
            max-width: 1500px;

            text-align: center;

            background: #32cd325e;
            border: 1px solid rgba(255, 255, 255, 0.815);
            border-radius: 5px;
            box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.253);

            // ori & pixs
            & :nth-child(0n+5) {

                margin: 1rem 0;

                & strong {

                    display: block;
                    margin-top: 1rem;


                    font-weight: 900;
                    font-size: 1.35rem;
                    letter-spacing: 5px;
                    text-shadow: 0 0 5px black;
    
                }
    
                & em {
    
                    color: red;
                    font-weight: 600;
                    font-size: 1.5rem;
    
                }

            }

            // nom prénom user
            & :nth-child(0n+2) span {

                text-transform: uppercase;

            }

            & h2 {

                margin-bottom: 1rem;
                padding-bottom: 5px;
                font-size: 3rem;
                text-shadow: 2px 0px 1.5px rgba(150, 150, 150, 1);

                background: rgb(255, 255, 255);
                color: #32cd32;

            }

            & p {

                font-size: 1.5rem;

            }

            & a {

                display: inline-block;
                margin: 20px 5px 0 5px;
                padding: 10px 20px;

                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: 1px;

                background: white;
                color: #32cd32;
                border: 1px solid rgba(0, 0, 0, 0.336);
                border-radius: 7px;

                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.322);
                text-shadow: -1px -1px 1px rgba(150, 150, 150, 1);

                transition: all .3s ease-in-out;

                &:hover {

                    transition: all .3s ease-in-out;

                    padding: 10px 35px;
                    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
                    //text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
                    border: 1px solid rgba(255, 255, 255, 1);
                    background: red;
                    color: white;

                }
            }

            // information fournis par les données utilisateurs Nom, prénom, id, prix du panier
            & span {

                font-weight: 600;
                letter-spacing: 1px;
                
            }

            & :nth-child(0n+2),
              :nth-child(0n+3) {

                margin-bottom: 1rem;

              }
            


        }

    }

}