// Partie NAVIGATION-ACCUEIL HEADER-NAV
@media only screen and (max-width: 716px) {

    .header-nav {

        display: block;
        margin: 0 10px;
        padding-bottom: 10px;

        & nav {

            margin-top: 20px;

            & ul {

                justify-content: space-around;

                & li {

                    margin: 5px;
                    white-space: nowrap;

                }

            }

        }

        & h1 {

            text-align: center;

        }

    }

}

@media only screen and (max-width: 310px) {

    .header-nav {

        display: block;
        margin: 0 5px;
        padding: 10px 0 5px 0;

        & nav {

            height: 100%;

            & ul {

                & li {

                    margin: 10px 5px;

                }

            }

        }

    }

}

@media only screen and (max-width: 253px) {

    .header-nav {

        & nav ul {

            
            display: block;
            text-align: center;

        }

        & h1 img {

            display: block;
            margin: 0 auto;
        
        }

    }

}





// Partie MAIN-ACCUEIL / BODY-ACCUEIL
@media only screen and (max-width: 650px) {

    .body-accueil,
    .body {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .main-accueil {

            align-items: flex-start;
            margin: 0 15px;

            max-height: 80%;

            & .accueil-info {

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

                margin-top: 1rem;

                & h2 {

                    text-align: center;
                    font-weight: 600;
                    letter-spacing: 2px;
                    background: rgba(255, 0, 0, 0.89);
                    border-radius: 10px;
                    padding: 10px 0;

                }
    
                & p {
    
                    text-align: center;
                    font-size: 2.2rem;

                    margin-bottom: 1rem;
                   
                }
    
                
                & p::after {
    
                    margin: 2rem auto 1rem auto;
    
                }

                & #buttonShop {

                    width: 100%;
                    height: 50px;
                    margin-bottom: 1rem;

                    font-size: 1.2rem;
                    text-align: center;

                    letter-spacing: 3px;
                    white-space: nowrap;
                    
                    &:hover {

                        transform: translateX(0);

                    }

                }
    
            }
    
        }

    }

}

@media only screen and (max-width: 310px) {

    .body-accueil,
    .body {

        .main-accueil {

            max-height: 100%;

            & .accueil-info {

                
                & p {

                    margin: 0;

                }

                & p::after {

                    margin: 1.5rem auto;

                }

                & #buttonShop {

                    font-size: 1rem;

                }

            }

        }
    }        
}

@media only screen and (max-width: 253px) {

    .body-accueil,
    .body {

        .main-accueil {

            & .accueil-info {

                & #buttonShop {

                    font-size: .6rem;
                    padding: 0;

                }

            }

        }
    }        
}





// Partie MAIN-ACCUEIL ===> myBoutique 
@media only screen and (max-width: 1625px) {

    .main-accueil {

        #myBoutique {

            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            
            grid-column-gap: 30px;
            grid-row-gap: 30px;
    
        }

    }

}

@media only screen and (max-width: 1290px) {

    .main-accueil {

        #myBoutique {

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
    
        }

    }

}

@media only screen and (max-width: 970px) {

    .main-accueil {

        #myBoutique {

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
                          
            grid-column-gap: 30px;
            grid-row-gap: 30px;
  
        }

    }

}

@media only screen and (max-width: 753px) {

    .main-accueil {

        #myBoutique {

            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            
                    
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            width: 100%;
            height: auto;
            text-align: center;
    
        }

    }

}





// Partie produit individuel selectionné 
@media only screen and (max-width: 700px) {

    body.body-produit {

        & .main-produit {

            & .camera-item {

                & .choiseForCart {

                    & .cartQuantity {

                        display: block;

                    }

                    & input, select {

                        width: 100%;

                    }    

                    & button {

                        font-size: 1.2rem;

                    }

                }

            }

        }

    }

}

@media only screen and (max-width: 700px) {

    body.body-produit {

        & .main-produit {

            & .camera-item {

                & .choiseForCart {

                    #confirmationAjoutPanier {
   
                        & i {
    
                            font-size: 1rem;
    
                        }
    
                    }

                }

            }

        }

    }

}





// Partie PANIER par defaut (vide)
@media only screen and (max-width: 508px) {

    .body {

        #main-panier {

            margin: 20px 13px 0 13px;
            padding: 10px 10px 10px 10px;
    
            & .panier-vide {

                & h2, p {

                    margin-bottom: 1rem;
                    
                }

                & h2 {

                    font-size: 1rem;
                    line-height: 1.3rem;

                }

 
                & .fa-window-close {

                    transform: translate( 20px, -22px);
    
                }

                & a:hover {

                    transform: translateX(0px);

                }
    
            }
    
        }

    }

}

@media only screen and (max-width: 302px) {

    .body {

        #main-panier {

            & .panier-vide {

                & a {

                    padding: 4px 8px 4px 8px;
                    height: auto;
                    font-size: .7rem;

                }
               
            }
    
        }

    }

}





// Partie PANIER plein
@media only screen and (max-width: 850px) {

    .body-panier {

        & #main-panier {

            margin: 10px 15px 0 15px;
            padding: 10px;
           
        }
    
    }



}

@media only screen and (max-width: 770px) {

    .body-panier {

        & #main-panier {

            & #commander {

                width: 100%;
                margin-top: 2.5rem;

                &::before {

                    display: block;
                    content: '';
                    width: 30%;
                    height: 2px;
                    margin: 0 auto;
                    transform: translateY(-30px);

                    background: #fff;

                }

            }

            & table, thead, tbody, tfoot, tr, th, td {

                display: block;

            }

            & tr {

                margin: 1rem 0;

                padding: 10px;
                border: 1px solid rgba(255, 255, 255, 0.555);
                border-radius: 10px;

            }

            & .tab-title {

                display: none;

            }



            & td {

                padding-left: 130px;
                position: relative;

            }

            & th { 
                
                display: none;
            
            }

            & td::before {

                padding: 10px;
                content: attr(data-label);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100px;

                background: red;
                display: flex;
                align-items: center;
                font-weight: bold;

                border: 1px solid rgba(255, 255, 255, 0.555);
                
            }

            & tr :last-child::before {

                border: none!important;
                border-right: none!important;

            }

            tbody {

                & tr :last-child {
    
                    text-align: center;
                    background: red;
                    border: 1px solid rgba(255, 255, 255, 0.555);
                    
    
                    & i {
    
                        border: none;
    
                    }
        
                }

            }

            & tbody {

                & tr td.supprimerProduit {
  
                    &::after {
    
                        display: none;

                    }
    
                    &:hover {
    
                        background: rgba(255, 0, 0, 0.70);
                        transition: all .4s ease-in-out;
    
                        & i.fa-trash-alt {
    
                            transition: all 150ms ease-in-out;
                            background: rgba(255, 0, 0, 0.70);
                            transform: scale(1.15);
    
                        }
                        
                        &::after {
    
                            display: none;

                        }
    
                    }
    
                }
    
            }

            & tfoot {

              
                & tr {
    
                    display: block;
                    border: none!important;
                    background: none!important;
                    
    
                    & td {
    
                        margin: 1rem 0;
                        width: 150px;
        
                    }
    
                }
    
            }

            & tfoot {

                width: 100%;

                & :last-child {

                    text-align: right;
    
                } 

                & :first-child {

                    border-top: none;

                }

                & tr {

                    margin: 0;
                    padding: 0;
    
                    & td {
    
                        margin: 5px 0;
    
                    }
    
                }

            }

            & tfoot tr td {

                width: 100%;
                padding: 10px;

                text-align: right;

                &::before {

                    display: none;

                }

            }

        }

    }

}

@media only screen and (max-width: 450px) {

    .body-panier {

        & #main-panier {

            margin: 10px 10px 0 10px;
            padding: 10px;
            
            & * {

                font-size: .7rem;

                & i {

                    font-size: 1rem;

                }

            }

        }    
  
    }

}

@media only screen and (max-width: 300px) {

    .body-panier {

        & #main-panier {

            & #commander {

                font-size: 1rem;

            }

            & * {

                font-size: .65rem;

                & i {

                    font-size: 1rem;

                }

            }

            & td {

                padding-left: 100px;
                position: relative;

            }

            & td::before {

                padding: 10px;
                content: attr(data-label);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 70px;

                background: red;
                display: flex;
                align-items: center;
                font-weight: bold;

                border: 1px solid rgba(255, 255, 255, 0.555);
                
            }

            & .produit-img {

                width: 100%;
                height: auto;

            }

        }

    }

}





// Panier FORMULAIRE
@media only screen and (max-width: 1200px) {

    
// Panier FORMULAIRE
    .body-panier {

        #main-panier {

            & form {

                width: 100%;

            }
            

        }

    }

}

@media only screen and (max-width: 500px) {

    
    // Panier FORMULAIRE
    .body-panier {

        #main-panier {

            & form {
                
                padding: 10px 10px;

                & div {

                    position: relative;
        
                    & i {
        
                        position: absolute;
                        right: 10px;
                        bottom: 16px;
        
                        font-size: 1.2rem;
        
                    }
                }
        

            }           

        }

    }
    
}

// page de VALIDATION 
@media only screen and (max-width: 800px) {

    .body-validation {

        & .main-validation {

            margin-left: 10px;
            margin-right: 10px;

        }

    }

}

